---
import About from '@components/About.astro';
import Contact from '@components/Contact.astro';
import Hero from '@components/Hero.astro';
import Projects from '@components/Projects.astro';
import Study from '@components/Study.astro';
import Work from '@components/Work.astro';
import Swiper from '@components/Swiper.astro';
import BackToTop from '@components/ui/BackToTop.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<main>
		<Hero />
		<Swiper />
		<About />
		<Study />
		<Work />
		<Projects />
		<Contact />
		<BackToTop />
	</main>
</Layout>
