---
---

<section
	data-testid="education"
	id="education"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-blue lg:text-4xl">Education</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-blue"></span>
	</div>

	<div class="mt-3 sm:pr-8">
		<h3 class="text-lg font-semibold text-black dark:text-white">
			Técnico Superior en Desarrollo de Aplicaciones Web (DAW)
		</h3>
		<time class="text-black mb-2 block text-sm font-normal leading-none dark:text-white"
			>2020 - 2022</time
		>
		<p class="dark:text-white text-base font-normal text-black">
			Politécnico Jesús Marín, Málaga
		</p>
	</div>

	<div class="mt-3 sm:pr-8">
		<h3 class="text-lg font-semibold text-black dark:text-white">Autoformación</h3>
		<time class="text-black mb-2 block text-sm font-normal leading-none dark:text-white"
			>Presente</time
		>
		<p class="dark:text-white text-base font-normal text-black">
			Actualmente sigo aprendiendo en mi tiempo libre sobre nuevas tecnologías.
		</p>
	</div>
</section>
